@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;1,300;1,400&display=swap');


*, root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;

  /*   Variables   */

  --yellow: #FFFE01;
  --gray-dark: #292829;
  --green: #38b154;
}

body {
  background-color: white;
}

.page-cont {
  margin:  0 5vw;
}

span.thin {
  font-weight: 200;
}

.page-heading {
  font-size: 3em;
  margin: 5vw 0;
}